.hero {
  background-color: #111827;
  padding: 96px 0;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 50%;
}

.hero__content {
  max-width: 40%;
  color: #D1D5DB;
}

.hero__content__copy {
  margin: 20px 0 48px;
}
