.hero {
  background-color: #111827;
  min-height: 100%;
  padding: 96px 0;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 50%;
}

.hero__content {
  max-width: 40%;
  color: #D1D5DB;
}
